#development__contacts-maps {
  width: 1010px;
  display: inline-block;
  box-sizing: border-box;
  transform: translate(35%, -10%);
  margin-top: 0;
}
.development-align {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-number__container {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
}
.development__question {
  transform: translateX(35%);
  background-color: #f8bc5c;
  border-radius: 20px;
  display: flex;
  padding: 40px;
  width: 1010px;
}
.development__question-ib {
  width: 1010px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.development__question-text {
  font-size: 40px;
  max-width: 502px;
  color: #202020;
  margin-bottom: 40px;
}
.development__question-info {
  max-width: 422px;
  font-size: 18px;
  margin-left: 8px;
  color: #202020;
}
.development__question-button {
  width: 932px;
  display: inline-flex;
  font-weight: 800;
  color: white;
  background-color: #202020;
}
.header__development-middle {
  margin-top: 40px;
  background-image: url(img/им.png);
  height: 575px;
  margin-bottom: 100px;
}
.header__development-middle-info {
  transform: translate(140px, 108px);
  max-width: 715px;
}
.heading__development-middle {
  font-size: 120px;
  font-family: "Neue Metana Next";
  font-weight: 600;
  max-width: 715px;
  text-align: left;
  line-height: 120px;
  letter-spacing: 2px;
}
.header__text {
  font-family: "Neue Metana Next";
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 2px;
  margin: 40px 0px;
  max-width: 569px;
  text-align: left;
}
.header__wedoit {
  display: block;
  max-width: 307px;
  font-size: 30px;
  line-height: 33px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.we-do {
  margin-bottom: 140px;
}
.we-do__specialize {
  display: inline-block;
  max-width: 1010px;
  margin-left: 134px;
}
.we-do__text {
  font-size: 30px;
  line-height: 34.5px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.advantages__info {
  max-width: 570px;
  margin-left: 133px;
  box-sizing: border-box;
  display: inline-block;
}
.advantages__heading {
  display: flex;
  justify-content: space-between;
  width: 570px;
}
.advantages__heading-text {
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 1px;
  font-family: "Neue Metana Next";
  color: #ff6a3a;
  font-weight: 600;
}
.advantages_mb-10 {
  margin-top: 10px;
}
.advantages__promo {
  font-size: 18px;
  line-height: 20.7px;
  letter-spacing: 0.5px;
  color: #989ea4;
  max-width: 496px;
  margin-top: 25px;
  margin-bottom: 40px;
}
.advantages_width-250 {
  max-width: 250px;
}
.advantages__heading-img {
  max-width: 54px;
  max-height: 36px;
}
.advantages_width-400 {
  max-width: 400px;
}
.advantages__image {
  max-width: 402px;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 72%;
}
.advantages__position {
  position: relative;
  border: 1px solid red;
}
.advantages__background-img {
  position: absolute;
  color: #fff;
  top: 32.5%;
  left: 73.5%;
}
