#development__contacts-maps {
  width: 1010px;
  display: inline-block;
  box-sizing: border-box;
  transform: translate(35%, -10%);
  margin-top: 0;
}
.development-align {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-number__container {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
}
.development__question {
  transform: translateX(35%);
  background-color: #f8bc5c;
  border-radius: 20px;
  display: flex;
  padding: 40px;
  width: 1010px;
}
.development__question-ib {
  width: 1010px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.development__question-text {
  font-size: 40px;
  max-width: 502px;
  color: #202020;
  margin-bottom: 40px;
}
.development__question-info {
  max-width: 422px;
  font-size: 18px;
  margin-left: 8px;
  color: #202020;
}
.development__question-button {
  width: 932px;
  display: inline-flex;
  font-weight: 800;
  color: white;
  background-color: #202020;
}
.header__development-middle {
  margin-top: 40px;
  background-image: url(img/им.png);
  height: 575px;
  margin-bottom: 100px;
}
.header__development-middle-info {
  transform: translate(140px, 108px);
  max-width: 715px;
}
.heading__development-middle {
  font-size: 120px;
  font-family: "Neue Metana Next";
  font-weight: 600;
  max-width: 715px;
  text-align: left;
  line-height: 120px;
  letter-spacing: 2px;
}
.header__text {
  font-family: "Neue Metana Next";
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 2px;
  margin: 40px 0px;
  max-width: 569px;
  text-align: left;
}
.header__wedoit {
  display: block;
  max-width: 307px;
  font-size: 30px;
  line-height: 33px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.we-do {
  margin-bottom: 140px;
}
.we-do__specialize {
  display: inline-block;
  max-width: 1010px;
  margin-left: 134px;
}
.we-do__text {
  font-size: 30px;
  line-height: 34.5px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.mn_widths {
  width: 217px;
}
.advantages__info {
  max-width: 570px;
  margin-left: 133px;
  box-sizing: border-box;
  display: inline-block;
}
.advantages__heading {
  display: flex;
  justify-content: space-between;
  width: 570px;
}
.advantages__heading-text {
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 1px;
  font-family: "Neue Metana Next";
  color: #ff6a3a;
  font-weight: 600;
}
.advantages_mb-10 {
  margin-top: 10px;
}
.advantages__promo {
  font-size: 18px;
  line-height: 20.7px;
  letter-spacing: 0.5px;
  color: #989ea4;
  max-width: 496px;
  margin-top: 25px;
  margin-bottom: 40px;
}
.advantages_width-250 {
  max-width: 250px;
}
.advantages__heading-img {
  max-width: 54px;
  max-height: 36px;
}
.advantages_width-400 {
  max-width: 400px;
}
.advantages__image {
  max-width: 402px;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 72%;
}
.advantages__position {
  position: relative;
  /* border: 1px solid red; */
}
.advantages__background-img {
  position: absolute;
  color: #fff;
  top: 32.5%;
  left: 73.5%;
}
.menu-width {
  width: 102px;
}
.development__number {
  vertical-align: top;
}
.menu-number_mr {
  margin-right: 174px;
}
.stages__info {
  height: 434px;
  max-width: 1006.6px;
  display: inline-flex;
  /* border: 1px solid red; */
  gap: 10px;
  box-sizing: border-box;
}
.stages__operation {
  padding: 40px 15px 378px 15px;
  min-width: 62.86px;
  border: 1px solid #ff6a3a;
  border-radius: 20px;
  position: relative;
}
.stages__info-text {
  display: inline-block;
  color: #202020;
  font-size: 18px;
  line-height: 20.7px;
}
.stages__heading {
  font-family: "Neue Metana Next";
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  color: #202020;
}
.stages__promo {
  display: none;
  height: 308px;
  margin-top: 20px;
}
.radio {
  appearance: none;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

#radio1::before {
  content: "01";
}
#radio2::before {
  content: "02";
}
#radio3::before {
  content: "03";
}
#radio4::before {
  content: "04";
}
#radio5::before {
  content: "05";
}
#radio6::before {
  content: "06";
}
#radio7::before {
  content: "07";
}
#radio8::before {
  content: "08";
}
#radio1:before,
#radio2:before,
#radio3:before,
#radio4:before,
#radio5:before,
#radio6:before,
#radio7:before,
#radio8:before {
  font-size: 15px;
  font-weight: 600;
  line-height: 16.18px;
  color: #ff6a3a;
  font-family: "Neue Metana Next";
  position: absolute;
  left: 3px;
}
.stages__number {
  font-size: 15px;
  font-weight: 600;
  line-height: 16.18px;
  font-family: "Neue Metana Next";
  color: #202020;
}
.radio:checked + .stages__promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stages__operation:has(.radio:checked) {
  padding: 40px 38px 40px 40px;
  height: 434px;
  width: 500px;
  background-color: #ff6a3a;
}
.development__team-content {
  max-width: 1000px;
  /* border: 1px solid red; */
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}
.development__team {
  margin-top: 140px;
}
.development__team-text {
  font-size: 30px;
  line-height: 34.5px;
  margin-bottom: 27px;
  display: block;
  width: 100%;
}
.development__team-box {
  border: 1px solid #fff;
  padding: 5px 20px 4px 20px;
  border-radius: 16px;
  display: inline-block;
}
.development__team-promo {
  font-size: 20px;
  line-height: 29.4px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.mr {
  margin-right: 120px;
}
.development__cases {
  margin-top: 140px;
  position: relative;
}
.development__cases-content {
  width: 1000px;
  border-radius: 20px;
  border: 1px solid red;
  display: inline-flex;
  background: url(img/image\ 173.png) top 0px right 0px no-repeat;
  background-size: 570px 100%;
}
.development__cases-info {
  background: #fff;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 40px;
  display: inline-block;
  width: 430px;
  position: relative;
}
.development__cases-header {
  font-family: "Neue Metana Next";
  line-height: 28.8px;
  color: #202124;
  margin-bottom: 67px;
}
.development__spring {
  background-color: #202124;
  padding: 12px 12px 10px 12px;
  margin-bottom: 12px;
  display: inline-block;
  font-size: 15px;
  font-family: "Neue Metana Next";
  border-radius: 16px;
}
.development__cases-text {
  color: #202124;
  max-width: 300px;
  font-size: 18px;
  line-height: 20.7px;
}
.development__cases-mb {
  margin-bottom: 20px;
}
/* .development__cases-image {
  max-width: 570px;
  margin: 0;
  display: inline-block;
} */
.development__cases-bg {
  position: absolute;
  top: 30%;
  left: 82.5%;
}
