.header__middle {
  background-position: top 2.2% left 3.5%;
  background-size: 470px 81.48px;
}
.header__middle-text {
  width: 1000px;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 2px;
  text-align: right;
  font-weight: 600;
  font-family: "Neue Metana Next";
  margin-top: 34.5px;
  margin-left: 27px;
}
.header__middle-imgone {
  margin-left: 152px;
  display: inline-block;
  transform: translate(-55%, -10%);
}
.header__middle-imgtwo {
  display: inline-block;
  transform: translateX(95%);
  vertical-align: top;
}
.mt-92 {
  margin-top: 92.5px;
}
.mt-140 {
  margin-top: 140px;
}
