body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    color: #FFFFFF;
    font-family: 'Helvetica Now Display';
}
body {
    background-color: #202124;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
} 
.container {
    width: 1360px;
    margin: 0 auto;
}
.header {
    text-align: center;
    display: flex;
}
.header__logo {
    width: 58px;
    height: 64px;
}
.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 370px;
    line-height: 26.46px;
}
.header__menu-link {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    width: 89px;
}
.header__middle {
    width: 1010px;
    display: inline-block;
    text-align: center;
    margin-top: 72px;
    background-image: url(img/Vector\ 711.png);
    background-repeat: no-repeat;
    background-position: top 15% right 5%;
    background-size: 556px;
}
.header__label {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 22px;
    letter-spacing: 10%;
}
.header__works {
    text-align: left;
    display: inline-block;
    width: 1000px;
    /* background-position: top right; */
}
.header__works {
    font-size: 115px;
    display: inline-block;
    font-weight: 600;
    line-height: 115px;
    margin-top: 78px;
    font-family: "Neue Metana Next";
}
.header__direction {
    margin-left: 50px;
    margin-bottom: 10px;
}
.header__promo {
    width: 425px;
    font-size: 18px;
    display: inline-block;
    line-height: 20.7px;
    font-weight: 400;
    margin-left: 80.5px;
}
.button {
    background-color: #FF6A3A;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #202020;
    font-weight: 900;
    font-size: 18px;
    line-height: 19.8px;
    padding: 15px;
    border-radius: 20px;
}
.button-logo {
    margin-left: 16px;
    width: 24px;
    margin-top: -2px;
}
.services {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
}
.services__content {
    display: inline-block;
    width: 670px;
    height: 360px;
    vertical-align: top;
}
.number {
    display: inline-block;
    color: #202020;
    padding: 12px 12px 10px 12px;
    border-radius: 16px;
    background-color:  #FFFFFF;
    width: 54px;
    height: 38px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    margin-right: 20px;
}
.menu {
    line-height: 22px;
    font-size: 20px;
    display: inline-block;
}
.services__text {
    display: inline-block;
    width: 550px;
    font-size: 30px;
    line-height: 34.5px;
    margin-top: 50px;
    margin-bottom: 156px;
}
.technologist, .design {
    display: inline-block;
    width: 665px;
    height: 360px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    vertical-align: top;
}
.technologist {
    background-color: #F8BC5C;
}
.design {
    background-color: #FF6A3A;
}
.services__development {
    display: inline-block;
    width: 185.77px;
    margin-top: 41px;
    margin-left: 51px;
}
.name {
    font-size: 54px;
    line-height: 62.1px;
    font-weight: 600;
    font-family: "Neue Metana Next";
    color: #202020;
    text-align: right;
}
.name-development {
    display: inline-block;
    margin-left: 156px;
    margin-top: 29.5px;
}
.technologist-margin, .design-margin,.services__content-margin {
    margin-right: 20px;
}
.services__seo {
    width: 325px;
    margin-top: 28px;
    margin-left: 23px;
}
.name-seo {
    display: inline-block;
    margin-left: 143px;
    vertical-align: 30px;
}
.services__design {
    width: 254px;
    margin-left: 15px;
}
.name-design {
    display: inline-block;
    margin-top: 29px;
    margin-left: 181px;
    vertical-align: 40px;
}
.services__context {
    width: 257px;
    margin-top: 40px;
    margin-left: 20px;
}
.name-context {
    display: block;
    margin-top: 38px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.services__serm {
    width: 160px;
    margin-top: 40px;
    margin-left: 40px;
}
.name-serm {
    margin-top: 58px;
    margin-right: 40px;
}
.services__crm {
    width: 210px;
    margin-top: 40px;
    margin-left: 40px;
}
.name-crm {
    margin-top: 22.48px;
    margin-right: 40px;
}
.services__scraping {
    width: 210px;
    margin-top: 30px;
    margin-left: 30px;
}
.name-scraping {
    margin-top: 32.53px;
    margin-right: 40px;
}
.button__services-width {
    width: 325px;
}
.services__bottom {
    display: flex;
    flex-direction: row;

}
.runline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    width: 1015px;
    margin-right: 16px;
    border: 1px solid #FF6A3A;
    border-radius: 20px;
    overflow: hidden;
}
.run {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 100%;
    animation: marquee-infinite 5s infinite cubic-bezier(0.46,1.01,0.47,1) -2s;
}
.runline:hover .run {
    animation-play-state: paused;
}
@keyframes marquee-infinite {
    0% {
        opacity: 0;
        transform: translate(0%,0%);
    }
    1% {
        opacity: 0.9;
    }
    100% {
        transform: translate(100%,0%);
    }
}

.runline__text {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 2%;
    text-transform: uppercase;
    text-align: center;
    color: #FF6A3A;
    margin-right: 110px;
}
.runline__image {
    margin-right: 24px;
    margin-left: 24px;
}
.about {
    margin-top: 139px;
}
.about__info {
    width: 1360px;
    margin-top: 50px;
    display: inline-flex;
    margin-bottom: 140px;
}
.about__goose {
    width: 537px;
    font-weight: 600;
    font-size: 82px;
    line-height: 66px;
    font-style: "Neue Metana Next";
    letter-spacing: 5px;
    margin-right: 153px;
}
.about__production {
    font-size: 30px;
    line-height: 34.5px;
    letter-spacing: 2px;
    width: 670px;
    display: inline-block;
}
.about__production-margin {
    margin-top: 24px;
    display: inline-block;
}
.about_flexposition {
    display: inline-flex;
    flex-direction: column;
}
.about__wehere {
    display: flex;
    flex-direction: column;
}
.about__task {
    display: inline-block;
    height: 248px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 10px;
}
.about__task:last-child {
    margin-bottom: 140px;
}
.about__infotask {
    display: inline-block;
    width: 506px;
    font-family: "Neue Metana Next";
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 5px;
    color: #202020;
    margin-left: 40px;
    margin-top: 40px;
}
.about__content {
    display: inline-block;
    width: 519px;
    margin-left: 194px;
    margin-top: 40px;
    vertical-align: top;
}

.about__count, .about__userinfo {
    color: #202124;
}
.about__count {
    display: inline-block;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: 2px;
}
.about__userinfo {
    font-size: 18px;
    line-height: 20.7px;
}
.about__task-bgdivone {
    background: #fff url(img/Star\ 1.png) top 48px left 213px no-repeat;
}
.about__infotask-bgpone {
    background: url(img/Vector\ 721.png) top left 332.5px no-repeat;
}
.about__task-bgdivtwo {
    background: #fff url(img/Star\ 2.png) top 29px left 348px no-repeat;
}
.about__infotask-bgptwo {
    width: 620px;
    background: url(img/Vector\ 713.png) top 87.41px left 400px/ 180px 59.09px no-repeat;
}
.about__userinfo-margin {
    margin-left: 81px;
}
.about__task-bgdivthree {
    background: #fff url(img/Union.png) top 39px left 160px/160px 160px no-repeat;
    padding-bottom: 40px;
    box-sizing: content-box;
}
.about__infotask-bgpthree {
    width: 630px;
    background: url(img/Vector\ 720.png) top 44px left 461.5px/ 170px 52.5px no-repeat;
}
.about__content-marginone {
    margin-left: 71px;
}
.team__choose {
    border-radius: 20px;
    margin-top: 50px;
    background: #F8BC5C url(img/Vector\ 712.png) top 79.33px right 40px no-repeat;
}
.team__content {
    display: inline-block;
    color: #202020;
    width: 502px;
    font-family:"Neue Metana Next";
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.team__member {
    display: inline-block;
    color: #202020;
    width: 380px;
    margin-top: 43px;
    margin-left: 138px;
    font-size: 18px;
    line-height: 20.7px;
    vertical-align: top;
}
.team__people {
    margin-top: 38px;
}
.team__people-lead {
    display: inline-block;
    width: 261px;
    height: 350px;
    border-radius: 20px;

}
.team__people-name {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 12px;
    color: #202020;
    margin-left: 12px;
    font-size: 18px;
    line-height: 20.7px;
    letter-spacing: 2px;
}
.team__people-title {
    display: block;
    font-size: 12px;
    color: #202020;
    line-height: 13.8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 41px;
    margin-left: 12px;
    margin-bottom: 12px;
}
.pm {
    background: #fff url(img/Mask\ group.png) bottom -1px left no-repeat;
}
.mr_11 {
    margin-right: 10px;
}
.mt_11 {
    margin-top: 11px;
}
.dev {
    background: #fff url(img/image\ 138.png) bottom -2px left/264px no-repeat;
}
.des {
    background: #fff url(img/paloma.png) bottom -1px left no-repeat;
}
.des2 {
    background: #fff url(img/ferran.png) bottom -1px left no-repeat;
}
.seo-title {
    background: #fff url(img/agus.png) bottom -1px left no-repeat;
}
.dev_2 {
    background: #fff url(img/alberto.png) bottom -1px left no-repeat;
    margin-left: 274px;
}
.dev_3 {
    background: #fff url(img/javied.png) bottom -1px left no-repeat;
}
.seo-title_2 {
    background: #fff url(img/cris.png) bottom -1px left no-repeat;
}
.team__bottom {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 140px;
}
.team-br {
    border: 1px solid #F8BC5C;
}
.team-color {
    color: #F8BC5C;
}
.team-bg {
   background-color: #F8BC5C;
}
.team-mr_0 {
    margin-right: 0px;
}
.team-mr {
    margin-right: 50px;
}